/*!!!!!----------- MULTIPLE PAGES -----------!!!!!*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
    font-weight: 200;
    color: #494949;
    background-color: #fff;
}

div, main {
    position: relative;
    display: block;
}

a {
    text-decoration: none;
    color: #4f4f4f;
}

p {
    margin-bottom: 1em;
}

.section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.section-bg {
    padding-top: 2em;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-bg {
    margin: 0 auto;
    width: 30em;
}

.title-bg img {
    width: 100%;
}

.title-bg h1 {
    position: absolute;
    top: 0.2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container {
    margin: 0 auto 2em;
    padding: 2%;
    width: 65%;
    text-align: justify;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 15px 0 rgba(89,89,89,0.2);
    background-color: #fff;
}

.image-container {
    width: 38%;
    overflow: hidden;
}

.image-container > img {
    width: 100%;
}

.text-container {
    margin-left: 3%;
    width: 60%;
}

.text-container > h2 {
    margin-top: 0.2em;
}

.text-container > h3 {
    margin-top: 0.2em;
}

.text-container > p {
    margin: 1em 0 1.6em;
}

.read-more {
    padding: 0.5em 3em;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    background-color: #5cb287;
}

/*!!!!!----------- NAVIGATION.PHP -----------!!!!!*/

#navigation {
    margin-bottom: 3em;
    font-weight: 400;
}

#navigation-container {
    text-align: center;
    margin: 1em 0 2em;
}

#current {
    color: #5cb287;
}

#logo {
    margin: 0.5em auto 0;
}

#navigation ul {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

#main-nav {
    width: 50%;
}

#main-nav a:hover {
    color: #d7a355;
}

#log-in {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 2em 0;
}

#divider {
    margin: 0 0.4em;
}

/*!!!!!----------- DEFAULT.PHP -----------!!!!!*/

#preferences-section {
    background-color: transparent;
}

#preferences-container {
    background-color: transparent;
}

#preferences-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

#preferences-form input[type='radio'] {
    visibility: hidden;
    position: absolute;
}

#preferences-form input + img{ 
    cursor: pointer;
}

.categories {
    padding: 0;
    width: 50%;
}

.categories > div {
    display: inline-block;
    width: 49%;
    height: 7em;
    overflow: hidden;
}

.categories img {
    min-width: 100%;
    min-height: 100%;
}

.categories p {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#feat-dest-section {
    height: auto;
    background-color: transparent;
}

.pin {
    position: absolute;
}

.pin-box {
    position: absolute;
    display: none;
    padding: 5px;
    width: 200px;
    overflow: hidden;
    background-color: lightgray;
}

.pin-image {
    width: 100%;
    height: 100px;
}

#pin-1-box {
    top: 0;
}

#pin-1 {
    top: 50%;
}

#pin-1-image {
    background: url(../images/placeholder.png);
}

/*!!!!!----------- ABOUT_US.PHP -----------!!!!!*/

#about-us-bg {
    background-image: url('../images/placeholder.png');
}

/*!!!!!----------- REVIEWS.PHP -----------!!!!!*/

#reviews-bg {
    background-image: url('../images/placeholder.png');
}

.reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/*!!!!!----------- SEARCH_RESULTS.PHP -----------!!!!!*/

#search-results-section {
    background-color: transparent;
}

#search-results-bg {
    background-image: url('../images/placeholder.png');
}

.results-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; 
}

/*!!!!!----------- NEWSLETTER.PHP -----------!!!!!*/

#newsletter-section {
    background-color: lightseagreen;
}

/*!!!!!----------- CONTACT.PHP -----------!!!!!*/

#contact-section {
    background-color: lightpink;
}

#contact-form {
    margin: 0 auto;
    width: 60%;
}

#contact-form textarea, #contact-form > input {
    width: 100%;
}

/*!!!!!----------- FOOTER.PHP -----------!!!!!*/

#footer-section {
    text-align: center;
    height: auto;
}

#footer-section > ul {
    list-style-type: none;
}

#footer-section > ul > li {
    display: inline-block;
}

.social-media {
    width: 1.5em;
    margin-left: 0;
    margin-right: 1.2em;
}